<section class="border rounded-3 p-4 p-md-5">
  
  <h1 class="fw-bold display-3 mb-3 butterfly-kids text-center">
        <i class="bi bi-envelope me-2"></i>Contact Us</span>
      </h1>
  <img
    src="assets/indoor_house_plants.png"
    class="d-block mx-auto rounded-3 shadow mb-3"
    alt="Indoor house plants"
  />
  <p class="lead">
    If you have questions about products or shipping, feel free to ask. We
    provide delivery services in the Bay Area.
  </p>

  <!-- Integrated with Web3Forms -->
  <form action="https://api.web3forms.com/submit" method="POST" class="row g-3">
    <!-- Required: your public access key -->
    <input
      type="hidden"
      name="access_key"
      value="badc4c25-9a65-4ffa-8908-d4f22788983f"
    />
    <input type="hidden" name="redirect" value="success.html" />

    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-person"></i></span>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
        />
      </div>
    </div>

    <div class="col-md-6">
      <label for="phone" class="form-label">Phone Number</label>
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-telephone"></i></span>
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          required
        />
      </div>
    </div>

    <div class="col-12">
      <label for="email" class="form-label">Email address</label>
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
    </div>

    <div class="col-12">
      <label for="message" class="form-label">Message</label>
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-chat-dots"></i></span>
        <textarea
          class="form-control"
          id="message"
          name="message"
          rows="4"
          required
        ></textarea>
      </div>
    </div>

    <div class="col-12 text-end">
      <button type="submit" class="btn btn-primary">
        <i class="bi bi-send-fill me-1"></i>Send
      </button>
    </div>
  </form>
</section>
